.box1 {
		text-align:left;
		font-size:13px;
		padding:7px 7px;
		width:800px;
		word-break:keep-all;
		background: url(../img/bg.png);
		border-radius: 20px;
		border: 5px solid black;
		box-shadow: 10px 10px 10px #888888;
}
div.nav a:link {
			color: #363636;
			text-decoration: underline;
		}
		div.nav a:visited {
			text-decoration: underline;
			color: #363636;
		}
		div.nav A:hover {
			COLOR: #3366FF;
			text-decoration:underline;
			background: #999999;
		}
#nav ul {
			list-style: none;
			width: 800px;
			margin: 0 auto;
			padding: 0; }
#nav li {
			float: left; }
#nav li a {
			display: block;
			padding: 7px 7px;
			text-decoration: none;
			font-weight: bold;
			color: #069;
		}
		#nav li a:hover {
			color: #c00;
			background-color: rgba(255,255,255,0.9);; 
}
p {
			font-family: "courier";
			word-break: keep-all;
			color: black;
			text-decoration: bold; 
			font-size:15.5px;
			text-shadow: 3px 3px 3px gray;
}
div.box1 img {float:center;}
html { 
		  background: url(../img/repeat.png) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}
