.follow {
			width: 300px;
			border-style: solid;
			border-width: 1px;
		}
		a:link {
			color: black;
			font-weight: bold;
		}
		a:visited {
			color: black;
			font-weight: bold;
		}
		A:hover {
			COLOR: grey;
			text-decoration:underline;
		}
		.box {
			text-align:left;
			font-size:13px;
			padding:7px 7px;
			width:800px;
			word-break:keep-all;
			background: url('../img/bg.png');
			border-radius: 20px;
			border: 5px solid black;
		}
		.box1 {
			text-align:left;
			font-size:13px;
			padding:7px 7px;
			width:800px;
			word-break:keep-all;
			background: url('../img/bg.png') no-repeat;
			background-size: 820px 145px;
			background-color: black;
			border-radius: 20px;
			border: 5px solid black;
			box-shadow: 10px 10px 10px #888888;
		}
		.boxf {
			text-align:left;
			font-size:10px;
			padding:5px 5px;
			width:785px;
			word-break:keep-all;
			background: url('../img/foot.png);
			border-radius: 20px;
			border: 5px solid black;
			box-shadow: 10px 10px 10px #888888;
		}
